.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.Btn{
  border: none;
  background-color: blue;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
}
.centered {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textbox{
  width: 500px;
  height: 70px;
  border-radius: 8px;
  border: none;
  padding: 15px;
}
.submitbutton{
  border: none;
  background-color: blue;
  color: white;
  padding: 22px;
  border-radius: 8px;
  margin-left: 15px;
}
.description{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 150px;
}
.imgdes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.review{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 50px;
}
.newcentered{
  position: relative,absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate( 0%, -170%);

}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
